<h1>Group Name: <%= @group.interest %></h1>
<h2>Group Description: <%= @group.description %></h2>
<h3>This is a forum for people to offer services and to meet others who are like-minded</h3>
<h2>Click on Services Offered To Learn More About The Service:</h2>
<% if @group.services.any? %>
<% @group.services.each do |s| %>
<p><a href='/service_info/<%= s.id %>'><%= s.location %></a></p>
<% end %>
<% else %>
<% end %>
<h3>No Services Have Been Offered Yet</h3>
<br>
<h2>Connect With Users In This Group:</h2>
<% if @group.users.any? %>
<h2>Connect With Users In This Group:</h2>
<% @group.users.each do |u| %>
<p><a href='/user_info/<%= u.id %></a>'<%= u.name %></a></p>
<% end %>
<% else %>
<h3>Currently Nobody Has Joined The Group!</h3>
<% end %>
<br>
<h2>Add A Service You Would Like To Offer To The Group:</h2>
<form action='/create_service/<%= @group.id %>' method='post'>
  <div>
    <label for="service">Add A Service</label>
    <input name='service' type='text'>
  </div>
  <div>
    <label for="detail">Add A Service</label>
    <input name='detail' type='text'>
  </div>
  <button type='submit'>Submit</button>
</form>
<br>
<h2>Become A Member Of The Group</h2>
<form action='/create_user/<%= @group.id %>' method='post'>
  <div>
    <label for="name">Name:</label>
    <input name='name' type='text'>
  </div>
  <div>
    <label for="email">Email:</label>
    <input name='email' type='text'>
  </div>
  <button type='submit'>Submit</button>
</form>
<br><br>
