<h1 class='centerMargin'>Offer Your Services And Meet Others In Your Building With Similar Interests.</h1>
<div id='border'>
  <h1 class='center'><%= @group.interest %></h1>
  <h2 class='center'><%= @group.description %></h2>
</div>
<div class='row'>
  <div class='col-md-6'>
    <h3 class='margin'>Click on Services Offered To Learn More About The Service:</h3>
      <ul>
        <% if @group.services.any? %>
        <% @group.services.each do |s| %>
        <p><li><a href='/service_info/<%= s.id %>'><%= s.location %></a></li></p>
        <% end %>
      </ul>
      <% else %>
      <p class='center'>No Services Have Been Offered Yet!</p>
    <% end %>
  </div>
  <div class='col-md-6'>
    <h3 class='margin'>Connect With Users In This Group:</h3>
      <ul>
        <% if @group.users.any? %>
        <% @group.users.each do |u| %>
        <p><li><a href='/user_info/<%= u.id %>'><%= u.name %></a></li></p>
        <% end %>
      </ul>
      <% else %>
      <p class='center'>Currently Nobody Has Joined The Group!</p>
      <% end %>
    </div>
  </div>
<div id='border' class='margin'>
  <h2>Add A Service You Would Like To Offer To The Group:</h2>
  <form action='/create_service/<%= @group.id %>' method='post'>
    <div>
      <label for="service" class="form-control form-rounded" rows="3">Add A Service:</label>
      <input name='service' type='text' class='form-control form-founded' placeholder='Text input'>
    </div>
    <br>
    <div>
      <label for="detail" class="form-control form-rounded" rows="3">Add Details Of Your Service:</label>
      <input name='detail' type='text' class='form-control form-founded' placeholder='Text input'>
    </div>
    <br>
    <button type='submit'>Submit</button>
  </form>
  <br>
  <h2>Become A Member Of The Group:</h2>
  <form action='/create_user/<%= @group.id %>' method='post'>
    <div>
      <label for="name" class="form-control form-rounded" rows="3">Name:</label>
      <input name='name' type='text' class='form-control form-founded' placeholder='Text input'>
    </div>
    <br>
    <div>
      <label for="email" class="form-control form-rounded" rows="3">Email:</label>
      <input name='email' type='text' class='form-control form-founded' placeholder='Text input'>
    </div>
    <br>
    <button type='submit'>Submit</button>
  </form>
</div>
